// =============================================
// 全域顏色變數
// 此檔案透過 nuxt.config.ts additionalData 自動注入至每個 .scss
// =============================================

$color-brown:      rgb(169, 148, 127);
$color-hv-brown:   rgba(182, 159, 136, 0.899);
$color-cat:        #fff8e3;
$color-header:     #fcd676;
$color-underline:  #ffd36dd4;
$bgc:              #ffffff;
$color-pink:       rgb(255, 208, 234);
$color-purple:     #ecc1ff;
$color-green:      rgb(145, 228, 216);
$color-blue:       rgb(177, 230, 255);
$color-orange:     rgb(255, 187, 131);
$color-yellow:     rgb(255, 224, 101);
$color-deep-pink:  #eb95bd;
$color-bar:        #d57580;
